@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');
.header-text {
  font-family: 'Dancing Script', cursive;
}

.bg-all {
  /* background-image: url('../public/gray-floral.png'); */
  background-image: url('../public/wild-flowers.png');
}

.bg-header {
  background-image: 
  url('../public/top-left.png'),
  url('../public/right-bottom.png'),
  url('../public/right-top.png'),
  url('../public/left-bottom.png');

  background-attachment: fixed;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 75px 75px, 75px 75px, 75px 75px, 75px 75px;
  background-position: left top, right bottom, right top, left bottom;
}

.bg-body {
  background-image: url('../public/flower-corner.png'), url('../public/flower-corner-top.png'), url('../public/1.png') ;
  background-attachment: fixed;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 250px 250px, 250px 250px, auto;
  background-position: bottom left, right top, center;
  -webkit-appearance: none;
}

.bg-lokasi {
}

.glow {
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(238, 255, 55),
      0 0 82px rgb(238, 255, 55),
      0 0 92px rgb(238, 255, 55),
      0 0 102px rgb(238, 255, 55),
      0 0 151px rgb(238, 255, 55),
}

.header-text-blue-1 {
  color: #E3FDFD;
}

.header-text-blue-2 {
  color: #CBF1F5;
}

.header-text-blue-3 {
  color: #A6E3E9;
}

.header-text-blue-4 {
  color: #71C9CE;
}

.border-blue-2 {
  color: #CBF1F5;
}

.border-blue-4 {
  border-color: #71C9CE;
}

.bg-blue-4 {
  background: #71C9CE;
}

.mapouter{position:relative;text-align:right;height:500px;width:600px;}
.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;padding-top:56.25%;}

.map-responsive{

  overflow:hidden;

  padding-bottom:56.25%;

  position:relative;

  height:0;

}

.map-responsive iframe{

  left:0;

  top:0;

  height:100%;

  width:100%;

  position:absolute;

}

.shadow-countdown {
  padding: 10px;
  box-shadow: 10px 10px 6px #888888;
}